h4 {
    font-weight: bold;
    font-size: 20px; 
}

h3 {
    font-size: 16px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.lead {
    margin-bottom: 50px;
    text-align: justify;
}

#description {
    margin-top: 50px;
}

#description p {
    text-indent: 2em;
}

label {
    width: 3.5em;
}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor: progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn.active .spinner {
    width: 16px;
}


.glyphicon-spin {
    animation: rotateThis 1s infinite linear;
    -webkit-animation: rotateThis 1s infinite linear;
    -moz-animation: rotateThis 1s infinite linear;
    -o-animation: rotateThis 1s infinite linear;
}
 
@keyframes "rotateThis" {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}

@-webkit-keyframes "rotateThis" {
    from { -webkit-transform: scale( 1 ) rotate( 0deg );   }
    to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}

@-moz-keyframes "rotateThis" {
    from { -moz-transform: scale( 1 ) rotate( 0deg );   }
    to   { -moz-transform: scale( 1 ) rotate( 360deg ); }
}